

services:
  web:
    build: 
      context: .
      dockerfile: docker/web/Dockerfile
    container_name: django_web
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    restart: unless-stopped
