services:

  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    container_name: inriver_web
    volumes:
      - .:/app
      - ./data/db:/app/db
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - redis

  celery:
    build:
      context: .
      dockerfile: docker/celery/Dockerfile
    container_name: inriver_celery
    volumes:
      - .:/app
      - ./data/db:/app/db
    env_file: .env
    depends_on:
      - web
      - redis



  redis:
    image: redis:7
    container_name: inriver_redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  redisdata:
